header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #8FD8E8;
  }
  
  .logo {
    block-size: 50px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  